@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

/* Reset and base styles  */
* {
    
	padding: 0px;
	margin: 0px;
	border: none;
    font-family: 'Roboto', sans-serif;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
    color:inherit;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 67px;
line-height: 76px;
color: #000000;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

body, html {
    height: 100%;
    overflow-x: hidden;
    background-image: url('../src/img/bodyBackground.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }


  @media (min-width: 1681px) {
  
   
  }
$yellow-color : #fcf48f;


.card-color1{
    background-color: #272727;
}
.card-color2{
    background-color: #353535;
}
.card-color3 {
    background-color: $yellow-color;
    span{
        color: black;
    }
      
   
   
    
}
.card-color4{
    background-color: #353535;
}
.card-color5{
    background-color: #353535;
}
.card-color6{
    background-color: #424242;
}

[class$="__line"]{
    margin-top: 40px;
    background-color: #C4C4C4;
    margin-right: -2000px;
    height: 1px;
    span{
        display: block;
        background-color: #646464;
        height: 6px;
        width: 90px;
    }
}


.stella {
    // .stella__container

    &__container {
        max-width: 1460px;
        margin: 0 auto;
    }
    &__text {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 65px;
        color: #000000;
        padding-top: 390px;
        
    
        span{
            background-color: $yellow-color;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}

.stella-header {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    // .stella-header__block

    &__block {
        padding: 25px;
        padding-left: 60px;
      
    }

    // .stella-header__items

    &__items {
        display: flex;
        gap: 30px;
        
    }

    // .stella-header__item

    &__item {
    }

    // .stella-header__tel
    .stella-header__tel-block{
        padding: 25px;
        background-color: $yellow-color;
    }
    &__tel {
        padding-right: 150px;
       
    }
}

.stella-main {
    min-height: 100vh;
    padding-top: 72px;
    color: white;
    background-image: url('../src/img/background.jpg');
    height: 750px;
 /*    height: 100%; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    &__text {
      
    }

    // .stella-main__header

    &__header {
        /* Юридическая защита бизнеса */

font-style: normal;
font-weight: 300;
font-size: 67px;
line-height: 76px;
max-width: 500px;
color: #FFFFFF;
padding-top: 67px;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    }
 

    &__services {
       
        
    }

    // .stella-main__items

    &__items {
        position: absolute;
        bottom: -260px;
        display: grid;
        grid-template: repeat(2, 1fr)/ repeat(3, 1fr);
        color: white;
        max-width: 383px;

    }

    // .stella-main__item

    &__item {
        cursor: pointer;
        color: white;
        display: flex;
        background: #272727e1;
        flex-direction: column;
        font-weight: 300;
        font-size: 22px;
        line-height: 126.19%;
        padding-left: 42px;
        padding-top: 47px;
        padding-bottom: 24px;
        padding-right: 46px;
        gap: 22px;
        transition: all 0.3s ease;
    border: 1px solid black;
        &:hover{
            img{
               color:  $yellow-color;
            }
        }
        a{
        width: 321px;
        margin-bottom: auto;
        }
        img{
            height: 56px;
            width: 56px;
        }
        &:last-child{
            border: none;
            max-width: 10000px;
            margin-right: -1500px;
            background-color: #fff;
            color: black;
            font-weight: 400;
            font-size: 35px;
            &:hover{
                background-color: $yellow-color;
            }
        }
    }
}



.stella-product {
    padding-top: 93px;
    // .stella-product__title

    &__title {
    }

    // .stella-product__line

    &__line {

    }

    // .stella-product__services
    &__body{

    padding-top: 103px;
    }

    &__services {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        background: #353535;
        color: #FFFFFF;
      
    }

    // .stella-product__items

    &__items {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 113.19%;
        display: block;
        padding-left: 49px;
        padding-bottom: 262px;
        padding-top: 53px;
        position: relative;
        img{
            position: absolute;
            left: 42px;
            bottom: 50px;
        }
    }
}

.stella-prices {
    padding-top: 90px;
    
    // .stella-prices__body

    &__body {

        padding-top: 90px;
        display: flex;   
        flex-grow: 1;
        flex-shrink: 1;
    }

    
    // .stella-prices__item

    &__item {
        height: 311px;
        display: flex;
        flex-grow: 1;
        flex-shrink: 1;
    }

    &__item-body{
        flex-grow: 1;
        flex-shrink: 1;
        position: relative;
        padding-left: 50px;
        padding-bottom: 126px;
        background-color: #fff;
        padding-right: 10px;
    }
    // .stella-prices__num

    &__num {
        margin-top: -60px;
font-weight: 300;
font-size: 104px;
color: #000000;
    }

    // .stella-prices__text

    &__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 126.19%;
    color: #4D4D4D;
    max-width: 400px;
    }

    // .stella-prices__cross

    &__cross {
        height: 56px;
        width: 56px;
        border: 1px solid black;
        border-radius: 50%;
        position: relative;
        position: absolute;
        left: 39px;
        bottom: 25px;
        cursor: pointer;
        
        &:before{
            content: "";
            transition: all 0.5s ease;
            width: 1px;
            height: 24px;
            display: block;
            background: #1d1d1b;
            position: absolute;
            left: 25px;
            top: 14px;
        
        
        }
        &:after{
            content: "";
            transition: all 0.5s ease;
            width: 24px;
            height: 1px;
            display: block;
            background: #1d1d1b;
            position: absolute;
            left: 14px;
            top: 25px;
                
            }
      
         
    
    }
    
    .cross-active{
        &:before {
            transform: rotate(45deg);
                }
        &:after {
            transform: rotate(45deg);
                }

    }

    &__price{
        overflow: hidden;
        width: 0px;
        font-weight: 300;
        font-size: 48px;
        line-height: 108.69%;
        color: #000000;
        background: $yellow-color;
        transition: all 0.7s ease;
        white-space: nowrap;
    }

    .stella-prices__price-active{
        display: block;
         width: 272px;
         padding-top: 60px;
        padding-left: 36px;
        padding-right: 30px;
    }
}




.stella-form {
    margin-top: 160px;
    background-color: #272727;
    // .stella-form__container

    &__container {
        padding-top: 88px;
        padding-bottom: 75px;
    }

    // .stella-form__title

    &__title {
        color: #fff !important;
        padding-bottom: 47px;
    }

    // .stella-form__body

    &__body {
        display: flex;
        gap: 24px;
    }
    // .stella-form__name

    &__input {
        border: 1px solid #494949;
        padding-top: 32px;
        padding-bottom: 40px;
        padding-left: 39px;
        max-width: 440px;
        width: 100%;
        max-height: 100px;
        font-weight: 300;
        font-size: 22px;
        line-height: 126.19%;
        color: #FFFFFF;
        &::placeholder{
        font-weight: 300;
        font-size: 22px;
        line-height: 126.19%;
        color: #FFFFFF;
        }
    }
    

    // .stella-form__btn

    &__btn {
        background-color: $yellow-color;
        font-weight: 500;
        font-size: 28px;
        line-height: 126.19%;
        text-align: center;
        color: #000000;
        padding-top: 32px;
        padding-bottom: 38px;
        max-width: 532px;
        width: 100%;
    }

    // .stella-form__text

    &__text {
        padding-top: 30px;
        color: #949494;
        font-size: 18px;
        line-height: 126.19%;

    }
}


.stella-employees {
    padding-top: 80px;
    // .stella-employees__header

    &__header {
        padding-bottom: 60px;
    }

    &__container{
        background-color: #272727;
        max-height: 1000px;
    }

    // .stella-employees__header-text

    &__header-text {
    }

    // .stella-employees__line

    &__line {
        span{
            width: 255px;
        }
        
    }

    // .stella-employees__body

    &__body {
        display: flex;
        margin: 0 auto;
        max-width: 1460px;
        
    }

    // .stella-employees__main

    &__main {
        display: flex;
        justify-content: flex-start;
    }

    // .stella-employees__text

    &__text {
        max-width: 630px;
        padding-bottom: 66px;
        display: flex;
        flex-direction: column;
        gap: 64px;
        justify-content: flex-end;
    }

    // .stella-employees__title

    &__title {
        display: flex;
        gap: 80px;
    }

    // .stella-employees__post

    &__post {
    font-weight: 400;
    font-size: 28px;
    line-height: 113.19%;
    color: #FFFFFF;


    }

    // .stella-employees__name

    &__name {
        white-space: nowrap;
        z-index: 1;
        color: $yellow-color;
    }

    // .stella-employees__info

    &__info {
        max-width: 494px;
        font-weight: 400;
        font-size: 20px;
        line-height: 128.69%;
        color: #898989;
        span{
            color: $yellow-color;
            display: block;
            margin-top: 30px;
        }

    }

    // .stella-employees__bigimg

    &__bigimg {
        display: block;
        height: 1000px;
        width: 800px;
    }

    // .stella-employees__side

    &__side {
        
    }

    // .stella-employees__items

    &__items {
        width: 250px;
        margin-right: -250px;
        overflow: auto;
        display: flex;
        flex-direction: column;
        max-height: 1000px;
      
    }

    // .stella-employees__item

    &__item {
        cursor: pointer;
        border-top: 1px solid #4E4E4E;
        border-left: 1px solid #4E4E4E;
        padding: 46px;
        transition: all 0.3s ease;
        &:hover{
            background-color: $yellow-color;
        }
    }

    .item__active{
        background-color: $yellow-color; 
    }
    // .stella-employees__face

    &__face {
        
       border-radius: 50%;
        width: 157px;
        height: 157px;
    }
}



.stella-case {

   
    // .stella-case__header

    &__header {
        padding-top: 100px;
        padding-left: 1300px;
    }

    // .stella-case__title

    &__title {
    }

    // .stella-case__line

    &__line {
    }

    // .stella-case__cases

    &__cases {
    }

    // .stella-case__nav

    &__nav {
        display: flex;
        justify-content: flex-end;
        padding-right: 120px;
        align-items: center;
        gap: 37px;
       padding-bottom: 52px;
       padding-top: 58px;
    }

    // .stella-case__arrow-back

    &__arrow-back {
        background: #282828;
        padding: 20px;
        border-radius: 50%;
    }

    // .stella-case__page

    &__page {
        font-weight: 300;
        font-size: 37px;
        line-height: 113.19%;
        color: #000000;


    }

    // .stella-case__arrow-forward

    &__arrow-forward {
        background: #282828;
        padding: 20px;
        border-radius: 50%;
    }

    // .stella-case__items

    &__items {
        display: flex;
        overflow: hidden;
    }

    // .stella-case__item

    &__item-body{
        padding-top: 38px;
        padding-left: 56px;
    }

    &__item {
        scrollbar-width: none;
        flex: 0 0 25%;
        background-color: #272727;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        height: 640px;
    }

    // .stella-case__img

    &__img {
       height: 295px;
       object-fit: fill;
       }

    // .stella-case__text

    &__text {
        max-width: 300px;
        font-weight: 400;
        font-size: 22px;
        line-height: 126.19%;
        color: #FFFFFF;
        padding-bottom: 38px;
       


    }

    // .stella-case__arrow

    &__arrow {
        
        img{
            border: none;
            background-color: $yellow-color;
            border-radius: 50%;
            
        }
    }
}


.stella-form2 {

    &__container{
    }


    &__header {
        background-color: #1F1F1F;
        padding: 45px 0 45px 72px;
        color: #fff !important;
    }

    &__body{
        display: flex;
    }
    // .stella-form2__body

    &__form {
        background-color: #272727;
       max-width: 705px;
       width: 100%;
    }

    // .stella-form2__input
    &__input-body{
        padding: 58px 85px 0 70px;
    }
    
    &__input {
        display: block;
        border: 1px solid #494949;
        padding: 24px 0 24px 32px;
        max-width: 553px;
        width: 100%;
        margin-bottom: 30px;
        font-weight: 300;
        font-size: 22px;
        line-height: 126.19%;
        color: #FFFFFF;
        &::placeholder{
            font-weight: 300;
            font-size: 22px;
            line-height: 126.19%;
            color: #FFFFFF;
        }
    }

    // .stella-form2__sit

    &__sit {
        padding-bottom: 140px;
    }

    &__data{
        padding-top: 30px;
        color: #949494;
        font-size: 18px;
        line-height: 126.19%;
        white-space: nowrap;
        padding-left: 30px;
        padding-bottom: 75px;
    }
    // .stella-form2__btn

    &__btn {
        background-color: $yellow-color;
        font-weight: 500;
        font-size: 28px;
        color: #000000;
        text-align: center;
        width: 100%;
        padding: 40px 0 40px 0;
    }

    // .stella-form2__right

    &__right {
        width: 100%;
        background-image: url('../src/img/form2/team.jpg');
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom: 113px;
        padding-right: 76px;
    }

    // .stella-form2__title

    &__title {
        text-align: end;
        color: $yellow-color;
        
    }

    // .stella-form2__line

    &__line {
        margin-right: 0;
        span{
            margin-left: auto;
            width: 255px;
        }
    }
}
.stella_form2 {

    // .stella_form2__data

    &__data {
    }
}


.stella-info {
        font-weight: 300;
        font-size: 30px;
        line-height: 113.19%;
        color: #FFFFFF;

        img{
            width: 50px;
            height: 50px;
            position: absolute;
            right: 20px;
            bottom: 30px;
        }
    // .stella-info__body

    &__body {
        height: 560px;
        display: flex;
    }

    // .stella-info__map

    &__map {
        flex: 1 1 60%;
    }

    // .stella-info__address

    &__address {
        position: relative;
        flex: 1 1 20%;
        background-color: $yellow-color;
        color: #000000;
        padding-left: 30px;
        padding-top: 20px;
        padding-right: 20px;
        }

    // .stella-info__contacts

    &__contacts {
        flex: 1 1 20%;
        display: flex;
        flex-direction: column;
        
    }

    // .stella-info__tel

    &__tel {
        flex: 1 1 50%;
        background: #353535;
        padding-left: 30px;
        padding-top: 20px;
        position: relative;
        
    }

    // .stella-info__mail

    &__mail {
        position: relative;
        flex: 1 1 50%;
        background-color: #525151;
        padding-left: 30px;
        padding-top: 20px;
    }
}


.stella-footer {

    // .stella-footer__body

    &__body {
        display: flex;
        justify-content: space-around;
        background-color: #1F1F1F;
        color: #fff;
        padding-top: 80px;
        padding-bottom: 80px;
    }

    // .stella-footer__main

    &__main {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    // .stella-footer__icon

    &__icon {
    }

    // .stella-footer__socials

    &__socials {
        display: flex;
        gap: 30px;
        img{
            width: 50px;
            height: 50px;
        }
    }

    // .stella-footer__facebook

    &__facebook {
    }

    // .stella-footer__inst

    &__inst {
    }

    // .stella-footer__vk

    &__vk {
    }

    // .stella-footer__nav

    &__nav {
        display: flex;
        flex-direction: column;
        gap: 30px;
       
    }

    // .stella-footer__item

    &__item {
        font-weight: 400;
        font-size: 25px;

    }

    // .stella-footer__policy

    &__policy {
        font-weight: 400;
        font-size: 25px;
    }
}


.stella-modal {
    display: none;
    min-height: 100vh;
    min-width: 100vh;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    background-color: rgba(0,0,0,0.3);
    //display: flex;
    
    // .stella-modal__content

    &__close{
        
       position: absolute;
       right: 20px;
       top: 30px;
       cursor: pointer;
       width: 40px;
       height: 40px;
        &:before{
            content: "";
            transition: all 0.5s ease;
            width: 1px;
            height: 40px;
            display: block;
            background: #1d1d1b;
            //background-color: $yellow-color;
            position: absolute;
            transform: rotate(45deg);
            right: 20px;
            top: 0;
    
        }
        &:after{
            content: "";
            transition: all 0.5s ease;
            width: 40px;
            height: 1px;
            display: block;
            background: #1d1d1b;
            position: absolute;
            transform: rotate(45deg);
            right: 0;
            top: 20px;
        }
    }


    &__content {
        position: relative;
        flex-direction: column;
        background-color: #fff;
        max-width: 1000px;
        width: 100%;
        margin: auto;
        padding: 55px;
    }

    // .stella-modal__title

    &__title {
        padding-bottom: 80px;
    }

    &__text {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 22px;
        line-height: 167.19%;
        color: #4D4D4D;


    }
}
